* {
  
    margin:0;
    padding:0; 
     
    
    font-family: Arial, helvetica , Sans-serif; 
    
  }
  
  
  body {
  
      background-color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
  }
  

  .image {

        max-width: 100%;
        object-fit:fill;
  }


  .container {
     
      
         
          /* margin: 50%; */ 
          

          max-width: 320px;


          /* height: 495px; */
          /* border: 10px solid white; */ 
          border-radius: 20px;
          padding: 5px;
          /* Setup */
          /* display: flex; */
          /* justify-content: center; */
          /* align-items: center; */
          background-color: white;
          /* transform: translate(-50%,-50%) ; */
      
  }

  .content {
    
     /* display:flex; */
     /* flex-direction:column; */
  }



  .child {

          /* display: flex; */
          /*  justify-content: center; */
          /*  align-items: center; */
          text-align: center;
          margin-top: 10%;
          font-size: 1.3rem;
          

  }

  .image {

    max-width: 100%;
    object-fit: fill;
    border-radius: 14px;
  }
  
   .container .child2 {

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-top: 5%;
    color: gray;


  }